<form action='/' method='post'>
	<label for='description'>Name of the new task:</label>
	<input type='text' id='description' name='description' required />
	<button type='submit'>Submit</button>
</form>