<h1>All Tasks To Do</h1>
<div id='tasks_to_do'>

	<ul>
		{{#each allTasks}}
			<li id-tasks={{this.id}}>{{this.description}}</li>
		{{/each}}
	</ul>
</div>
<script src='{{jsFile}}' type='module' defer></script>