<h1>Task Manager</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolorem
	tempora totam accusantium ad pariatur eaque, doloremque quasi quaerat saepe.</p>
<form id='newtask'>
	<label for='description'>Add you description</label>
	<input type='text' name='description' id='description' />
	<button type='submit'>Add your description</button>
</form>

<div class='container'>
	<div id='tasks_to_do'>
		<h2>Tasks To Do</h2>
		<ul>
			{{#each tasksToDo}}
				<li>{{this.id}} : {{this.description}}</li>
			{{/each}}
		</ul>>
	</div>
	<div id='tasks_done'>
		<h2>Done Tasks</h2>
		<ul>
			{{#each tasksDone}}
				<li>{{this.id}} : {{this.description}}</li>
			{{/each}}
		</ul>>
	</div>
</div>
{{! <script type='module' src='/js/DOM.js' defer></script> }}