<h1>Task Manager</h1>

<div class='container'>
	<div id='tasks_to_do'>
		<h2>Tasks To Do</h2>
		<ul>
			{{#each tasksToDo}}
				<li>{{this.id}} : {{this.description}}</li>
			{{/each}}
		</ul>>
	</div>
	<div id='tasks_done'>
		<h2>Done Tasks</h2>
		<ul>
			{{#each tasksDone}}
				<li>{{this.id}} : {{this.description}}</li>
			{{/each}}
		</ul>>
	</div>
</div>
