<h1>Login</h1>
<p>{{message}}</p>

<form action='/login' method='post'>
	<label for='username'>Username:</label>
	<input type="text" id='username' name='username' required />
	<label for='pwd'>Password</label>
    <input type="password" name="pwd" id="pwd">
	<button type='submit'>Submit</button>
</form>

